<div class="container py-5">

  <h1>Admin Dashboard</h1>

  <div class="list-group mt-4">

    <%= link_to "Manage Products",
        admin_products_path,
        class: "list-group-item list-group-item-action" %>

    <%= link_to "Manage Categories",
        admin_categories_path,
        class: "list-group-item list-group-item-action" %>

  </div>

</div>