<div class="container">

  <div class="row">

    <% @category.products.each do |product| %>

      <div class="col-sm-6 col-lg-4 mb-4">

        <!-- Product Card -->

      </div>

    <% end %>

  </div>

</div>