<div class="container">

  <div class="row">

    <div class="col-md-6">
      <!-- Product Image -->
    </div>

    <div class="col-md-6">
      <!-- Product Information -->
    </div>

  </div>

</div>